//  ==========================================================================
//  Sass Modules for Style
//  ==========================================================================

//  ==========================================================================
//  Themeatic Styles Below
//  ==========================================================================

	html, body{
		height: 100%;
	}

	.uppercase{
		text-transform: uppercase;
	}

	.primary-header,
	.primary-footer{
		background: $client-red;
		z-index: 99;
		@extend .full-width;
	}

	.primary-footer{
		padding: 60px 40px;
	}
	.primary-footer__nav{
		@extend .full-width;
		li{
			@extend .full-width;
			font-family: $gotham-bold;
			font-size: 12px;
			color: white;
			text-transform: uppercase;
			padding: 2px 0;
			white-space: nowrap;
			a{
				color: white;
				display: inline-block;
				@include transition-duration(.2s);
				@include transition-property(all);
				&:hover{
					opacity: .6;
				}
			}
		}
	}

	.primary-footer__nav--lc-horz{
		li{
			float: none;
			display: inline-block;
			width: auto;
			padding: 0 10px;
			line-height: 12px;
		}
		li + li {
			border-left: 1px solid white;
		}
		li:last-child{
			padding-right: 0px;
		}
		a{
			text-transform: none;
		}
	}

	@media screen and (max-width:640px){
		.primary-footer__nav{
			padding-left: 0px;
		}
		.primary-footer__nav--lc-horz{
			text-align: center;
			li + li{
				border-left: none;
			}
		}
	}

	.primary-nav{
		font-family: $gotham-bold;
		font-size: 12px;
		color: white;
		text-transform: uppercase;
		text-align: center;
		padding: 4px 0;
		z-index: 99;
		@extend .full-width;
		li{
			display: inline-block;
			margin: 0 10px;
		}
		> li:first-child{
			margin-left: 108px;
		}
		a{
			color: white;
			@include transition-duration(.2s);
			@include transition-property(all);
			&:hover{
				opacity: .6;
			}
		}
		> li.primary-nav__logo a{
			&:hover{
				opacity: 1;
			}
		}
	}

	.primary-nav li.primary-nav__search{
		margin-left: 30px;
		margin-right: 20px;
		font-size: 20px;
		overflow: visible;
		top: 2px;
		position: relative;
		overflow: visible;
		> a{
			padding: 2px;
			overflow: visible;
		}
	}

	.primary-nav li.primary-nav__social{
		font-size: 15px;
		background: white;
		width: 20px;
		height: 20px;
		top: 5px;
		margin: 0px 2px;
		position: relative;
		@include border-radius(100%);
		> a{
			color: $client-red;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translateY(-50%) translateX(-50%));
		}
	}

	.primary-header__search{
		@extend .full-width;
		padding: 10px;
		background: rgba($client-red,.7);
		position: absolute;
		top: 90px;
		z-index: 99;
		left: 0px;
		border-top: 1px solid lighten($client-red, 10%);
		display: none;
		visibility: hidden;
		@include box-sizing(border-box);
		&.isActive{
			display: block;
			visibility: visible;
		}
		input[type="text"]{
			width: 70%;
			padding: 10px;
			font-size: 20px;
			background: white;
			border: none;
			font-family: $archer-bold;
			color: $client-blue;
		}

		button[type="submit"]{
			width: 30%;
			background: darken($client-red, 10%);
			color: white;
			padding: 10px;
			font-size: 20px;
			border: none;
			@include transition-duration(.2s);
			@include transition-property(all);
			&:hover{
				opacity: .6;
			}
		}
		input, button{
			font-family: sans-serif;
			text-transform: uppercase;
			@extend .float-left;
		}
	}

	.mobile-nav-toggle{
		display: none;
		visibility: hidden;
	}

	.primary-nav{
		display: block;
		visibility: visible;
		&.isActive{
			display: block;
			visibility: visible;
		}
	}

	.primary-logo--mobile{
		display: none;
		visibility: hidden;
	}

	.hero{
		@extend .full-width;
	}

	.hero--push{
		@extend .full-width;
	}


	.hero__container{
		@extend .full-width;
	}

	.hero__slide{
		@extend .float-left;
		width: 100%;
		min-height: 768px !important;
		background: image-url('hero-background-fpo.jpg') center center no-repeat;
		@include background-size(cover);
	}

	.hero__slide.hero__slide--short{
		min-height: 500px !important;
	}

	@media screen and (max-width:640px){
		.hero__slide{
			min-height: 350px !important;
		}

		.hero__slide.hero__slide--short{
			min-height: 300px !important;
		}
	}

	.hero__bar{
		width: 100%;
		height: 80%;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0px;
		z-index: 4;
		background: image-url('bar-fpo-2x.png') center center no-repeat;
		@include background-size(contain);
		@include transform(translateY(-50%));
	}

	.hero__content-box{
		width: 100%;
		position: absolute;
		top: 50%;
		z-index: 8;
		text-align: center;
		@include transform(translateY(-50%));
	}

	@media screen and (max-width: 940px){
		.primary-nav li:first-child{
			margin-left: 0px;
		}
		.primary-nav li{
			margin: 0 5px;
		}
	}

	@media screen and (max-width: 800px){
		.primary-header{
			position: fixed;
		    top: 0px;
		    left: 0px;
		}
		.primary-logo--mobile{
			display: block;
			visibility: visible;
			padding: 10px 0;
			position: relative;
			width: 100%;
		}
		.primary-nav{
			display: none;
			visibility: hidden;
			&.isActive{
				display: block;
				visibility: visible;
			}
		}
		.mobile-nav-toggle{
			border: 1px solid lighten($client-red,10%);
			position: absolute;
			right: 10px;
			top: 16px;
			color: white;
			padding: 0 10px;
			font-size: 30px;
			display: block;
			visibility: visible;
			&.isActive{
				> i{
					&::before{
						content: "\f00d";
					}
				}
			}
		}
		.primary-header__search{
			&.isActive{
				display: block;
				visibility: visible;
			}
			input[type="text"],
			button[type="submit"]{
				font-size: 16px;
			}
		}

		.primary-nav li.primary-nav__logo{
			display: none;
			visibility: hidden;
		}

		.primary-nav li{
			width: 100%;
			float: left;
			position: relative;
			clear: left;
			padding: 10px 0;
			font-size: 16px;
		}
		.primary-nav li + li{
			border-top: 1px solid rgba(white,.4);
		}
		.primary-header__search{
			position: relative;
			top: auto;
		}

		.primary-nav li.primary-nav__search,
		.primary-nav li.primary-nav__social{
			width: 25%;
			clear: none;
			border: none;
			background: transparent;
			color: white;
			margin: 16px 0 0 0;
			padding: 0px;
			top: 0px;
			> a{
				color: white;
				padding: 0;
				font-size: 28px;
				top: auto;
				left: auto;
				display: inline-block;
				@include transform(none);
			}
		}
		.hero{
			margin-top: 78px;
		}
	}

	.image-card{
		position: absolute;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		@include background-size(cover);
	}

	.image-card-7--left{
		left: 0px;
		background-position: center center;
	}

	.image-card-push-5{
		margin-left: 58.33333%;
	}

	@media screen and (max-width:1024px){
		.image-card-push-5{
			margin-left: 0;
		}
		.image-card--stack-med{
			float: left;
			position: relative;
			width: 100%;
			min-height: 350px;
		}
	}

	.image-card--text{
		padding: 110px 40px;
		background: #10326e;
		@include box-sizing(border-box);
	}

	@media screen and (max-width: 640px){
		.image-card--text{
			padding: 60px 15px;
		}
	}


	.card{
		padding-top: 20px;
		padding-bottom: 20px;
		&.card--red{
			background: $client-red;
		}
	}

	.photo-grid{
		position: absolute;
		top: 0px;
		left: 41.66667%;
		width: 58.33333%;
		height: 100%;
		overflow: hidden;
		.photo{
			position: absolute;
			top: 0px;
			left: 0px;
			background-position: center center;
			background-repeat: no-repeat;
			@include background-size(200% auto);
		}
		.photo--tall{
			height: 100%;
			width: 60%;
		}
		.photo--half{
			width: 40%;
			height: 50%;
			left: 60%;
		}
		.photo--third{
			width: 20%;
			height: 50%;
			left: 60%;
		}
		.photo--push{
			top: 50%;
		}
		.photo--push-left{
			left: 80%;
		}
		.photo__hashtag{
			position: absolute;
			bottom: 0px;
			width: 100%;
			left: 0px;
			padding: 10px;
			@include box-sizing(border-box);
		}
	}

	@media screen and (max-width:1024px){
		.photo-grid{
			float: left;
			position: relative;
			min-height: 400px;
			width: 100%;
			left: 0px;
		}
	}

	.large-twitter{
		font-size: 108px;
		color: white;
	}

	.section{
		padding: 65px;
	}

	.section--med-padding{
		padding: 45px;
	}

	.section--divider{
		border-top: 1px solid #bbb;
	}

	.section--no-padding{
		padding: 0;
	}

	@media screen and (max-width:640px){
		.section{
			padding: 30px 15px;
		}

		.section--med-padding{
			padding: 20px 15px;
		}

		.section--no-padding{
			padding: 0;
		}

		.photo-third--expand-small{
    	    left: 60% !important;
            width: 40% !important;
		}
	}

	.section--white{
		background: white;
	}

	.section--blue{
		background: #00aef0;
	}

	.btn{
		display: inline-block;
		color: white;
		font-family: $gotham-bold;
		font-size: 17px;
		text-transform: uppercase;
		padding: 5px 10px;
		min-width: 150px;
		@include transition-duration(.2s);
		@include transition-property(all);
	}


	.btn--blue{
		background: #5d99ff;
		&:hover{
			opacity: .8;
		}
	}

	.btn--black{
		background: black;
		color: white;
		border: none;
		&:hover{
			opacity: .8;
		}
	}

	.link{
		font-family: $gotham-black;
		color: black;
		text-decoration: underline !important;
		&:hover{
			color: $client-red;
		}
	}

	@media screen and (max-width:640px){
		.full-image-small{
			img{
				width: 100% !important;
				height: auto !important;
			}
		}
	}

	@media screen and (max-width:1024px){
		.clear-medium{
			clear: left;
		}
	}

	.break-work{
		word-break: break-word;
		word-wrap: break-word;
	}

	.alternating-rows{
		.alternating-rows__row{
			padding: 70px 0;
			&:nth-child(even){
				background: #f2f2f2;
			}
		}
	}

	@media screen and (max-width:640px){
		.flavors__product-image{
			max-width: 280px;
			height: auto;
		}
	}


	.stick-with-us{
		max-width: 580px;
		display: block;
		background: white;
		border: 10px solid $client-red;
		@include box-sizing(border-box);
		.stick__inner{
			display: inline-block;
			padding: 20px;
			@include box-sizing(border-box);
		}
		form{
			input{
				width: 100%;
				text-align: center;
				padding: 10px;
				display: inline-block;
				border:none;
				background: #c8c8c8;
				color: #222;
				font: normal 16px $gotham-book;
				@include box-sizing(border-box);
				@include input-placeholder {
				    color: #444;
			  	}
			}
		}
	}

	.stick__heading{
		color: $client-red;
		margin: 0px;
		+ p{
			color: black;
		}
	}

	.padded-section{
		padding: 80px 0;
		.content-row{
			margin-top: 45px;
			&:first-child{
				margin-top: 0px;
			}
		}
	}

	.article{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.post-link{
		a{
			color: black;
			font-family: $gotham-medium;
			font-size: 14px;
		}
	}
	
	
.ig-feed{
  width: 200%;
  height:200%;
  background:$client-red;
  display:block;
  float:left;
  position: relative;
  .inner{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
	background: -moz-linear-gradient(top,  rgba(224,121,121,0) 0%, rgba(227,101,100,0) 33%, rgba(232,60,58,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(224,121,121,0) 0%,rgba(227,101,100,0) 33%,rgba(232,60,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(224,121,121,0) 0%,rgba(227,101,100,0) 33%,rgba(232,60,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e07979', endColorstr='#e83c3a',GradientType=0 ); /* IE6-9 */

  }
}

@media screen and (max-width:640px){
	.ig-feed{
		max-height: 640px !important;
		overflow: hidden !important;
	}
}

.ig-feed{
  line-height:0;
  div{
    float:left;
    position:relative;
    box-sizing:border-box;
    border:1px solid white;
    a{
	    display: inline-block;
    }
    img{
      width:100%;
      height:auto;
    }
  }
}

.large{
  width:640px;
  height:640px;
}

.small{
  width:160px;
  height:160px;
}

.medium{
  width:320px;
  height:320px;
}


.lwlw{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 98899;
    text-align: center;
    background: rgba($client-red, .6);
    padding: 20px;
    @include box-sizing(border-box);
}